<div>
Demo1

<start>starting...</start>
 <li [routerLinkActive]="['active']">
                    <a [routerLink]="['/projects/123']">Demo Component</a>
                </li>
				
				
				
    <div class="container">
        <router-outlet></router-outlet>
        <p>other stuff {{title}}<p>
    </div>			

    Debug: project {{project.projectId}}
    <div class="{{showQuickCheck? 'visible':'hidden'}}" >
        <quickcheck [project]="project"></quickcheck>
    </div>
   
    <div class="{{showQuickCheckResult? 'visible':'hidden'}}">
        <quickcheck-result></quickcheck-result>
    </div>

    <div class="{{showESC? 'visible':'hidden'}}">
        <esc [project]="project"></esc>
    </div>

    <modernization></modernization>
    
    
</div>