<section id="bb-quickcheck" class="section-quickcheck" style="display:block;">
    <div class="container">
        <h1>{{ 'quickcheck.title' | translate}}</h1>
        <p>{{ 'esc.intro.description' | translate}}</p>

        <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm.value, myForm.valid)">
                <div class="form-element-group">
                    <div class="row">
                        <div class="col-sm-2">
                            <h2>{{'quickcheck.header.goals'|translate}}</h2>
                        </div>
                        <div class="col-sm-10">
                            <div id="bb-ziele" class="form-element">
                                <h3>{{'quickcheck.question.goals'|translate}}</h3>
                                {{myForm.value.modernizationTarget }}
                                <div class="form-group">
                                    <div [ngClass]="{'radio ui-radio': usage !== myForm.value.modernizationTarget, 'radio ui-radio checked': usage === myForm.value.modernizationTarget}"  *ngFor="let usage of usages | keys">
                                        <label class="checked">
                                            <input type="radio"  [value]="usage.value"  formControlName="modernizationTarget">
                                            <span>{{'quickcheck.goal.' + usage.value | translate}}</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
 <input type="checkbox" formControlName="includeBuildingModernization"/>
                <button type="submit">Submit</button>
        </form>
    </div>
</section>


<div *ngIf="project">
    we have project
    {{project.projectId}}

    {{project.quickcheck.modernizationTarget}}
<!--
<form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm.value, myForm.valid)">
        <label>{{ 'quickcheck.question.goals' | translate }}</label>
        
        <select id="usage"  placehoder="mod target" formControlName="modernizationTarget">        
            <option *ngFor="let usage of usages | keys" [value]="usage.value">{{'quickcheck.goal.' + usage.value | translate}}</option>
        </select>

        <label>includeBuildingModernization</label>
        <input type="checkbox" formControlName="includeBuildingModernization"/>

        <button type="submit">Submit</button>
</form>
-->
    <!--
    [(ngModel)]="project.quickcheck.modernizationTarget"
    -->
<!--
<form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm.value, myForm.valid)">

    <div formGroupName="quickcheck">
        <label>Ziel</label>
        
        <select id="usage"  placehoder="mod target" formControlName="modernizationTarget">        
            <option *ngFor="let usage of usages | keys" [value]="usage.value">{{usage.value}}</option>
        </select>
    </div>

   
    <button type="submit">Submit</button>

</form>
-->
    
    

<div *ngIf="!project">
    we have <b>no</b> project
    
</div>
</div>